/node_modules
/public/hot
/Cole/Storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.1
*.cache
/app/Http/Controllers/Cole/Modules/Custom/*.php
/resources/views/Modules/Custom/*.blade.php
/resources/views/Widgets/Custom/*.blade.php
/public/Cole/Javascript/Modules/Custom/*.js
/public/Cole/LESS/*.cache
/public/Cole/Storage/ProfilePictures/*.jpg
.env_backup